<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<meta charset="utf-8">
	<title>Lista Telefônica</title>
	

	<!-- [IMPORTAÇÕES] -->
	<script src="lib/angular-1.6.1/angular.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7/css/bootstrap.min.css">
	<!-- [\IMPORTAÇÕES] -->

	<style type="text/css">
		.top-10 {
			margin-top: 20px;
		}
        
        .row-table-selected {
            background-color: lightcoral;
        }
        
        .painel-aplicacao {
            background-color: #EFEFEF;
            padding: 20px;
        }
        
        .titulo-aplicacao {
            color: #AAAAAA;
            font-weight: bold;
        }
        
	</style>

	<!-- [CÓDIGO ANGULAR] -->
	<script>
		angular.module("listaTelefonica", []);

		angular.module("listaTelefonica").controller("listaTelefonicaController", function ($scope) {
			$scope.appTitle = "Lista Telefônica";

			$scope.contatos = [
				{nome: 'Deylon Carlo', telefone: '989816392', operadora: {nome: 'OI', codigo: 14}},
				{nome: 'Inês de Cássia', telefone: '998199156', operadora: {nome: 'OI', codigo: 14}},
				{nome: 'Valdeci Carlos', telefone: '999654482', operadora: {nome: 'OI', codigo: 14}},
				{nome: 'Douglas Carlo', telefone: '989854458', operadora: {nome: 'OI', codigo: 14}}
			];

			$scope.operadoras = [

				{nome: 'OI', codigo: 14},
				{nome: 'Vivo', codigo: 15},
				{nome: 'Tim', codigo: 16},
				{nome: 'Claro', codigo: 17}

			];

			// Funções 
			$scope.adicionarContato = function (contato) {
				var contatoParaAdicionar = angular.copy(contato);
				$scope.contatos.push(contatoParaAdicionar);
			};
            
            $scope.removerContatos = function (contatos) {
                $scope.contatos = contatos.filter(function (contato) {
                      if(!contato.selecionado === true) {
                          return contato;
                      }
                  });            
            };
            
            $scope.isContatoSelecionado = function (contatos) {
                var isAlgumContatoSelecionado = contatos.some(function (contato) {
                    return contato.selecionado;
                });
                
                return isAlgumContatoSelecionado;
            }
            
		});
	</script>
	<!-- [\CÓDIGO ANGULAR] -->

</head>
<body ng-controller="listaTelefonicaController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 painel-aplicacao">
                <h2 class="text-center titulo-aplicacao">{{appTitle}}</h2>
				<table id="tabela-contato" class="table top-10">
					<tr>
                        <th></th>
						<th>Nome</th>
						<th>Telefone</th>
						<th>Operadora</th>
					</tr>
					<tr ng-class="{'row-table-selected': contato.selecionado}" ng-repeat="contato in contatos">
                        <td><input type="checkbox" class="form-control" ng-model="contato.selecionado"></td>
						<td>{{contato.nome}}</td>
						<td>{{contato.telefone}}</td>
						<td>{{contato.operadora.nome}}</td>
					</tr>
				</table>

				<hr>
				<div class="form-group">
					<label for="nome">Nome Contato:</label>
					<input type="text" name="nome" ng-model="contato.nome" class="form-control">
				</div>

				<div class="form-group">
					<label for="telefone">Telefone:</label>
					<input type="text" name="telefone" ng-model="contato.telefone" class="form-control">
				</div>

				<div class="form-group">
					<label for="operadoras">Operadora:</label>
					<select name="operadoras" class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
						<option value="">Selecione</option>
					</select>
				</div>

				<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone || !contato.operadora"> Adicionar Contato</button>
                
                <button class="btn btn-danger btn-block" ng-click="removerContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)"> Remover Contatos</button>

			</div>
		</div>
	</div>
</body>
</html>